In [1]:
#import library
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
# Membaca dataset dari file CSV
data = pd.read_csv('dataset.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nama              15 non-null     object
 1   IPS Semester 1    15 non-null     float64
 2   IPS Semester 2    15 non-null     float64
 3   IPS Semester 3    15 non-null     float64
dtypes: float64(3), object(1)
memory usage: 608.0+ bytes

In [3]:
# Mengambil kolom nilai IPS semester 1, 2, dan 3
ips = data.iloc[:, 1:]
ips.head()

   IPS Semester 1  IPS Semester 2    IPS Semester 3
0            3.90              3.75              3.32
1            3.50              3.25              3.75
2            3.90              3.85              3.86
3            3.80              3.85              3.73
4            3.65              3.50              4.00

In [4]:
# Konversi data ke dalam format array
ips_array = ips.values

In [5]:
# Menentukan jumlah kluster
k = 3

In [6]:
# Melakukan proses clustering dengan k-means
kmeans = KMeans(n_clusters=k, random_state=0).fit(ips_array)

In [7]:
# Menambahkan kolom "Klaster" ke dalam dataset
data['Klaster'] = kmeans.labels_

In [8]:
# Menentukan nilai klaster
nilai_k = {0: "Cepat Lulus",1: "Standar", 2: "Lama"}

In [9]:
# Mengganti nilai klaster dalam dataset dengan label yang sesuai
data['Klaster'] = data['Klaster'].map(nilai_k)

In [10]:
# Menampilkan hasil kluster
print(data[['nama', 'Klaster']])

                         nama      Klaster
0         HAKIM YUSUF HIDAYAT  Cepat Lulus
1   Annisa Agung Isa Prajitno      Standar
2                      Nafajo  Cepat Lulus
3           MEISYA CAESAR M.A  Cepat Lulus
4                    Syamitha  Cepat Lulus
5                  Tan, David      Standar
6    Abrar Taufiq Ranggadana       Standar
7          Awan Cahya Pratama  Cepat Lulus
8           firda dianingtyas  Cepat Lulus
9         Rahmat Hidayatullah  Cepat Lulus
10                 Kamalludin  Cepat Lulus
11    Alshiera Zahra Annisya   Cepat Lulus
12     Dimas Satriyo Nugroho   Cepat Lulus
13     Mohammad amiro zyukama         Lama
14                Fajar Adi S      Standar